body { background: #9fd98c; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 21px; display: flex; }
.block-uploader-0 { color: #e99cf7; font-size: 13px; margin-bottom: 5px; }
.block-notify-1 { color: #dbed03; font-size: 15px; margin-bottom: 5px; }
.block-session-2 { color: #f47ab9; font-size: 14px; margin-bottom: 5px; }
.block-token-3 { color: #c5e8e2; font-size: 15px; margin-bottom: 5px; }
.block-uploader-4 { color: #da12a2; font-size: 13px; margin-bottom: 5px; }